/* Container styles */
.ourWork-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
}
  
  /* Sidebar styles */
  .sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, .9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 20px;
    border-radius: 15px 3px 3px 15px;
  }
  
  /* Sidebar button styles */
  .sidebar-button {
    padding: 12px;
    background-color: #2f3e46;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .sidebar-button:hover {
    background-color: #2f3e46;
    transform: translateX(5px);
  }
  
  /* Active button styles */
  .sidebar-button.active {
    background-color: #2f3e46c1;
    font-weight: bold;
  }
  
  /* Content area styles */
  .content {
    flex: 1;
    padding: 30px;
    background-color: #f5f5f5;
    height: 550px; /* Fixed height for content area */
    overflow-y: auto; /* Scroll when content overflows */
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Content box (for each component) */
  .content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .sidebar-button {
      flex: 1;
      text-align: center;
    }
  
    .content {
      height: 300px; /* Adjust height for smaller screens */
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      padding: 10px;
    }
  
    .sidebar-button {
      padding: 10px;
      font-size: 14px;
    }
  
    .content {
      height: 250px; /* Adjust height for extra small screens */
      padding: 15px;
    }
  }
  