.ourWorkProject img{
    height: auto;
    width: 150px;
    border: none;
    outline: none;
}

.ourWorkProject .a{
    text-decoration: none; 
    outline: none;
    color: #000;
    
}
.ourWorkProject .a h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
